@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.model-viewer {
    width: 100%;
    height: 400px; /* Adjust height as needed */
  }


.area{
    background: #4e54c8;  
    background: transparent;  
    width: 100%;
    height:100vh;
    
   
}
.start {
    height: auto;
    display: flex;
    border: 1px solid black;
    background-image: url("https://img.freepik.com/free-vector/black-abstract-background_1393-348.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1715472000&semt=ais_user");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 24px; 
    font-weight: 700;
    color: #E3E3E3;
  }
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.contact {
    width: 100%;
    color: #CCCCCC;
    display: flex;
    flex-direction: column; 
    background: radial-gradient(ellipse at bottom, #0d1d31 72%, #0c0d13 20%, #1a2b3d 100%);
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
.image-container {
    background-size: cover; /* Adjust to your preference */
    background-image: url('robo1.png');
    background-position: center; /* Adjust to your preference */
    width: 300px; /* Adjust to your preference */
    height: 200px; /* Adjust to your preference */
}
.footer-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #0D141Eff;
    color: #f3f3f3;
    text-align: center;
  padding: 10px 0;
  }

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
@media (max-width: 375px) {
    .context h1 {
        font-size: 24px;
    }

    .circles li {
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 768px) {
    .area {
        height: auto;
    }
}